* {
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
.broadest-container {
    margin: 5%;
}
/* .input-output-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
/* .breed-component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.form-container, .current-dog-container, .custom-drink-container {
    /* width:100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calculate-btn {
    display: flex;
    justify-content: center;
}
.custom-drink-container > * {
    margin:1%
}
.form-container Form {
    display: flex;
}
.randomImgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:15px;
}
/* .randomImgContainer img {
    box-shadow: 10px 10px;
} */
.randomImgContainer button {
    all: unset;
    cursor: pointer;
}
.current-dog-makeup, .current-cocktail-makeup {
    display: flex;
    /* border: 2px solid black; */
    padding: 0 2%;;
    margin: 5px;
}
.current-cocktail-makeup li {
    display: flex;
    justify-content: space-between;
}
.current-dog-makeup-cards {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: center;
    justify-content: flex-start;
    padding: 3.5% 0;
}
.current-dog-makeup-cards .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
}
.current-dog-makeup-list {
    display: flex;
    padding: 3.5% 0;
    width:50%
}
.breed-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .current-dog-makeup-list .list-group-item button {
    justify-content: flex-end;
    
} */
.current-dog-makeup-list p, .current-cocktail-makeup p {
    padding: 5px;
    margin:0;
}
.current-dog-makeup-list li > *{
    padding: 10px
}
.delete-item-btn {
    all: unset;
    cursor: pointer;
    padding: 0 !important;
    /* margin-left: 25px */
}
.center-paragraph-text {
    text-align: center;
}
.center-btn {
    display: flex;
    margin: auto;
}

.form-container Form > * {
    margin: 0 0 5% 0!important;
}

@media screen and (max-width: 700px) {
    .form-container Form {
        flex-direction: column;
    }
    .form-container Form > * {
        align-self: center;
    }
    .current-dog-makeup-list{
        width:75%
    }
    .current-dog-makeup-cards {
        justify-content: center;
    }
    .breed-card {
        width:40% !important;
    }
    .cocktail-card {
        width:75% !important;
    }
    .cocktail-card {
        width:75% !important;
    }
}
@media screen and (max-width: 625px) {
    .cocktail-card li{
        flex-direction: column;
    }
}
@media screen and (max-width: 450px) {
    .current-dog-makeup-list{
        width:100%
    }
    .randomImgContainer {
        text-align: center;
    }
    .breed-card {
        width:65% !important;
    }
    .cocktail-card {
        width: 100% !important;
    }
    .cocktail-card li{
        flex-direction: column;
    }
}